@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Campton Black";
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

#header-place {
  width: 100%;
  height: 4.8%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-image: url("./images/header-mobile.png");
  background-size: 100% 100%;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/header-desktop.png");
    height: 8.7%;
  }
}

.showroom-container {
  width: 100%;
  height: 95.2%;
  position: fixed;
  top: 4.8%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8e9ea;
  @media not screen and (orientation: portrait) {
    height: 91.3%;
    top: 8.7%;
  }
}

.showroom-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 84%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  transform: rotate(180deg);
  z-index: 12;
  @media not screen and (orientation: portrait) {
    transform: rotate(0);
  }
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

// ------------------------- PPT1 ----------------------------
// ------------------------- PPT1 ----------------------------
// ------------------------- PPT1 ----------------------------
.ppt1-wrapper {
  width: 100%;
  height: 86.12910284463895%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  @media not screen and (orientation: portrait) {
    height: 100%;
  }
}

.whitesnake-start {
  background-color: #ffffff;
  padding: 3.9592592592592593vw 5.833333333333333vw 3.5888888888888888vw
    4.2592592592592595vw;
  color: #d62631;
  font-size: 7.592592592592593vw;
  line-height: 7.592592592592593vw;
  font-weight: 700;
  text-align: end;
  position: absolute;
  right: 21.5vw;
  bottom: 34.20569%;
  z-index: 11;
  white-space: nowrap;
  @media not screen and (orientation: portrait) {
    font-size: 2.864583333333333vw;
    line-height: 2.864583333333333vw;
    padding: 0.7291666666666666vw 0.9895833333333333vw 0.9895833333333333vw
      0.9895833333333333vw;
    right: 40.5vw;
  }
}
.whitesnake-1 {
  background-color: #ffffff;
  padding: 1.7592592592592593vw 5.833333333333333vw 1.3888888888888888vw
    4.2592592592592595vw;
  color: #d62631;
  font-size: 7.592592592592593vw;
  line-height: 7.592592592592593vw;
  font-weight: 700;
  text-align: end;
  position: absolute;
  right: -50vw;
  bottom: 34.20569%;
  z-index: 11;
  @media not screen and (orientation: portrait) {
    font-size: 2.864583333333333vw;
    line-height: 2.864583333333333vw;
    padding: 0.7291666666666666vw 5.989583333333334vw 0.9895833333333333vw
      2.604166666666667vw;
    bottom: 37.12%;
  }
}

.ppt1-title {
  color: #ffffff;
  font-size: 6.018518518518518vw;
  line-height: 6.018518518518518vw;
  font-weight: 700;
  position: absolute;
  right: -68vw;
  bottom: 27.5%;
  z-index: 11;
  @media not screen and (orientation: portrait) {
    font-size: 2.34375vw;
    line-height: 2.34375vw;
    bottom: 31%;
    color: #002741;
  }
}

.ppt1-subtitle {
  color: #ffffff;
  font-size: 4.62962962962963vw;
  line-height: normal;
  font-weight: 500;
  text-align: right;
  position: absolute;
  right: -95vw;
  bottom: 17.5%;
  z-index: 11;
  letter-spacing: -0.13796296296296295vw;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    bottom: 20.38%;
    letter-spacing: 0;
    color: #59595b;
  }
}

.ppt1-button-1 {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #59595b;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: absolute;
  right: -32vw;
  bottom: 7%;
  z-index: 11;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    bottom: 9.84%;
    &:hover {
      background-color: #59595b;
      color: #ffffff;
    }
  }
}
.ppt1-button-1:active {
  background-color: #59595b;
  color: #ffffff;
}

.phone-container {
  position: relative;
  top: 8%;
  z-index: 10;
  width: 119.81481481481vw;
  height: 240.83333333333334vw;
  @media not screen and (orientation: portrait) {
    width: 116vw;
    height: 64vw;
  }
}

.phone-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.tel-ram {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.tel-viewport {
  width: 94%;
  height: 97.5%;
  position: absolute;
  top: 1%;
  left: 3%;
  border-radius: 12%;
  overflow: hidden;
}

.tel-viewport-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12%;
  overflow: hidden;
}

.ppt1-viewport-img1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 12%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.ppt1-viewport-img2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: 12%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.ppt1-viewport-img3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  border-radius: 12%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.ppt1-viewport-img4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  border-radius: 12%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.ppt1-button-2 {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #6d6e71;
  color: #ffffff;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  opacity: 0;
}

.ppt1-button-2:active {
  background-color: #ffffff;
  color: #6d6e71;
}

.ppt1-snake-red {
  width: 15.277777777777779vw;
  height: 60.944444444444443vw;
  background-color: #d62631;
  position: absolute;
  left: 4.166666666666666vw;
  top: -12vw;
  z-index: 10;
  @media not screen and (orientation: portrait) {
    width: 5.833333333333333vw;
    height: 21vw;
  }
}

.ppt1-snake-blue {
  width: 51vw;
  height: 15.277777777777779vw;
  background-color: #002741;
  position: absolute;
  left: -20vw;
  top: 63%;
  z-index: 10;
  @media not screen and (orientation: portrait) {
    width: 20vw;
    height: 5.833333333333333vw;
  }
}

.ppt1-snake-white {
  width: 25vw;
  height: 15.277777777777779vw;
  background-color: #ffffff;
  position: absolute;
  left: -30vw;
  top: 3%;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 10vw;
    height: 5.833333333333333vw;
  }
}

.ppt1-snake-red-2 {
  width: 15.277777777777779vw;
  height: 31.944444444444443vw;
  background-color: #d62631;
  position: absolute;
  left: 4.166666666666666vw;
  top: -35vw;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 5.833333333333333vw;
    height: 15vw;
  }
}

.ppt1-snake-blue-2 {
  width: 25vw;
  height: 15.277777777777779vw;
  background-color: #002741;
  position: absolute;
  right: -30vw;
  top: 75%;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 12vw;
    height: 5.833333333333333vw;
  }
}

.ppt1-snake-red-3 {
  width: 15.277777777777779vw;
  height: 42vw;
  background-color: #d62631;
  position: absolute;
  right: 4.166666666666666vw;
  bottom: -80vw;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 5.833333333333333vw;
    height: 21vw;
  }
}

.ppt1-snake-white-2 {
  width: 32vw;
  height: 15.277777777777779vw;
  background-color: #ffffff;
  position: absolute;
  right: -35vw;
  top: 3%;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 20vw;
    height: 5.833333333333333vw;
  }
}

.ppt1-part2-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120%;
  background-image: url("./images/handys_&_tafire.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 10;
  background-color: #e8e9ea;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/handys_&_tafire-desktop.png");
    background-size: cover;
    background-position: top;
  }
}

.ppt1-part2-button {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #6d6e71;
  color: #ffffff;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: relative;
  bottom: 16%;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    position: absolute;
    right: 5.989583333333334VW;
    bottom: 4.4%;
    &:hover {
      background-color: #ffffff;
      color: #59595b;
    }
  }
}

.ppt1-part2-button:active {
  background-color: #ffffff;
  color: #6d6e71;
}

// ------------------------- PPT2 ----------------------------
// ------------------------- PPT2 ----------------------------
// ------------------------- PPT2 ----------------------------

.ppt2-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 20;
}
.ppt2-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ppt2-bluebackground {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(1);
}
.ppt2-bluebackground-after {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transform: scale(1);
  @media not screen and (orientation: portrait) {
    height: 100%;
  }
}

.whitesnake-2 {
  background-color: #ffffff;
  padding: 1.8518518518518516vw 5.833333333333333vw 1.3888888888888888vw
    3.2407407407407405vw;
  color: #d62631;
  font-size: 7.592592592592593vw;
  line-height: 7.592592592592593vw;
  font-weight: 700;
  text-align: end;
  position: absolute;
  right: -100vw;
  bottom: 36.5%;
  z-index: 12;
  @media not screen and (orientation: portrait) {
    font-size: 2.864583333333333vw;
    line-height: 2.864583333333333vw;
    padding: 0.7291666666666666vw 5.989583333333334vw 0.9895833333333333vw
      2.604166666666667vw;
    bottom: 37.12%;
  }
}

.ppt2-title {
  color: #ffffff;
  font-size: 6.018518518518518vw;
  line-height: 7.4vw;
  font-weight: 700;
  position: absolute;
  right: -100vw;
  bottom: 27%;
  z-index: 12;
  text-align: end;
  @media not screen and (orientation: portrait) {
    font-size: 2.34375vw;
    line-height: 2.34375vw;
    bottom: 26%;
  }
}

.ppt2-subtitle {
  color: #ffffff;
  font-size: 4.62962962962963vw;
  line-height: normal;
  font-weight: 500;
  text-align: right;
  position: absolute;
  right: -100vw;
  bottom: 23%;
  z-index: 12;
  letter-spacing: -0.13796296296296295vw;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    bottom: 20.38%;
    letter-spacing: 0;
  }
}

.ppt2-button-1 {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #59595b;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: absolute;
  right: -100vw;
  bottom: 16%;
  z-index: 12;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    bottom: 9.84%;
    &:hover {
      background-color: #59595b;
      color: #ffffff;
    }
  }
}
.ppt2-button-1:active {
  background-color: #59595b;
  color: #ffffff;
}

.ppt2-tv-container {
  width: 129.72222222222223vw;
  height: 85vw;
  position: absolute;
  top: 19%;
  left: -12%;
  z-index: 9;
  @media not screen and (orientation: portrait) {
    width: 60.26041666666667VW;
    height: 39.427083333333336VW;
    top: 11%;
    left: 20.364583333333332%;
  }
}
.ppt2-tv-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.ppt2-tv-ram {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.ppt2-tv-viewport {
  width: 99.8%;
  height: 85%;
  position: absolute;
  top: 0.5%;
  left: 0.1%;
  z-index: 9;
}
.ppt2-tv-viewport-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ppt2-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

// .ppt2-stb {
//   width: 33.14814814814815vw;
//   height: 33.33333333333333vw;
//   position: absolute;
//   left: -50vw;
//   top: 26%;
//   z-index: 11;
// }
// .ppt2-telefon {
//   width: 24.074074074074073vw;
//   height: 34.53703703703704vw;
//   position: absolute;
//   right: -35vw;
//   top: 26%;
//   z-index: 11;
// }

// .ppt2-offer-banner-1 {
//   width: 100%;
//   height: 56.388888888888886vw;
//   position: absolute;
//   left: 100%;
//   bottom: 16%;
//   z-index: 11;
//   & > img {
//     width: 100%;
//     height: 100%;
//   }
// }

.ppt2-tv-slides-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ppt2-tv-slides-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ppt2-tv-slide-1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.ppt2-tv-slide1-column1 {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 0;
}
.ppt2-tv-slide1-column2 {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 25%;
}
.ppt2-tv-slide1-column3 {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 50%;
}
.ppt2-tv-slide1-column4 {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 75%;
}
// .ppt2-tv-slide-2 {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   left: 99%;
//   top: 0;
// }
.ppt2-offer-banner-2 {
  width: 100%;
  height: 56.388888888888886vw;
  position: absolute;
  left: 102%;
  bottom: 16%;
  z-index: 11;
  & > img {
    width: 100%;
    height: 100%;
  }
}

.ppt1-snake-blue-3 {
  width: 35vw;
  height: 15.277777777777779vw;
  background-color: #002741;
  position: absolute;
  left: -42vw;
  top: 75%;
  z-index: 8;
}

.ppt1-snake-red-4 {
  width: 15.277777777777779vw;
  height: 42vw;
  background-color: #d62631;
  position: absolute;
  right: 4.166666666666666vw;
  top: -50vw;
  z-index: 8;
  @media not screen and (orientation: portrait) {
    display: none;
  }
}
.ppt1-snake-red-4-ghost {
  width: 15.277777777777779vw;
  height: 42vw;
  background-color: #d62631;
  position: absolute;
  right: 4.166666666666666vw;
  top: -50vw;
  z-index: 10;
  opacity: 0.5;
  @media not screen and (orientation: portrait) {
    display: none;
  }
}

.ppt2-part2-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120%;
  background-image: url("./images/tv_&_entertainment_.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 28;
  background-color: #e8e9ea;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/tv_&_entertainment_ponuda-desktop.png");
    background-position: center;
    background-size: cover;
  }
}

.ppt2-part2-button {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #6d6e71;
  color: #ffffff;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: relative;
  bottom: 16%;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    position: absolute;
    right: 5.989583333333334VW;
    bottom: 4.4%;
    &:hover {
      background-color: #ffffff;
      color: #59595b;
    }
  }
}

.ppt2-part2-button:active {
  background-color: #ffffff;
  color: #6d6e71;
}


.ppt2-part3-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120%;
  background-image: url("./images/kombi-ponuda-mobile.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 29;
  background-color: #e8e9ea;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/kombi-ponuda-desktop.png");
    background-position: center;
    background-size: cover;
  }
}

.ppt2-part3-button {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #6d6e71;
  color: #ffffff;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: relative;
  bottom: 16%;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    position: absolute;
    right: 5.989583333333334VW;
    bottom: 4.4%;
    &:hover {
      background-color: #ffffff;
      color: #59595b;
    }
  }
}

.ppt2-part3-button:active {
  background-color: #ffffff;
  color: #6d6e71;
}



// ------------------------- PPT3 ----------------------------
// ------------------------- PPT3 ----------------------------
// ------------------------- PPT3 ----------------------------

.ppt3-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 30;
}
.ppt3-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./images/homepage-ppt3-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/homepage-ppt3-background-desktop.png");
    background-position: center;
  }
}
.whitesnake-3 {
  background-color: #ffffff;
  padding: 1.8518518518518516vw 5.833333333333333vw 1.3888888888888888vw
    3.2407407407407405vw;
  color: #d62631;
  font-size: 7.592592592592593vw;
  font-weight: 700;
  text-align: end;
  position: absolute;
  right: -100vw;
  bottom: 36.5%;
  z-index: 12;
  text-transform: uppercase;
  @media not screen and (orientation: portrait) {
    font-size: 2.864583333333333vw;
    line-height: 2.864583333333333vw;
    padding: 0.7291666666666666vw 5.989583333333334vw 0.9895833333333333vw
      2.604166666666667vw;
    bottom: 37.12%;
  }
}

.ppt3-button {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #59595b;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: absolute;
  right: -50vw;
  bottom: 26%;
  z-index: 12;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    bottom: 18.84%;
    &:hover {
      background-color: #59595b;
      color: #ffffff;
    }
  }
}
.ppt3-button:active {
  background-color: #59595b;
  color: #ffffff;
}

// ------------------------- PPT4 ----------------------------
// ------------------------- PPT4 ----------------------------
// ------------------------- PPT4 ----------------------------

.ppt4-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 0;
  z-index: 30;
}
.ppt4-innerwrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./images/homepage-ppt4-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media not screen and (orientation: portrait) {
    background-image: url("./images/homepage-ppt4-background-desktop.png");
    background-position: center;
  }
}
.whitesnake-4 {
  background-color: #ffffff;
  padding: 1.8518518518518516vw 5.833333333333333vw 1.3888888888888888vw
    3.2407407407407405vw;
  color: #d62631;
  font-size: 7.592592592592593vw;
  font-weight: 700;
  text-align: end;
  position: absolute;
  right: -100vw;
  bottom: 36.5%;
  z-index: 12;
  text-transform: uppercase;
  @media not screen and (orientation: portrait) {
    font-size: 2.864583333333333vw;
    line-height: 2.864583333333333vw;
    padding: 0.7291666666666666vw 5.989583333333334vw 0.9895833333333333vw
      2.604166666666667vw;
    bottom: 37.12%;
  }
}

.ppt4-button {
  font-size: 3.7037037037037033vw;
  line-height: 3.7037037037037033vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #59595b;
  text-align: center;
  padding: 2.4074074074074074vw 2.1296296296296298vw 2.8703703703703702vw
    2.685185185185185vw;
  position: absolute;
  right: -50vw;
  bottom: 26%;
  z-index: 12;
  @media not screen and (orientation: portrait) {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
    padding: 0.9895833333333333vw 2.2916666666666665vw 1.1979166666666667vw
      2.2916666666666665vw;
    bottom: 18.84%;
    &:hover {
      background-color: #59595b;
      color: #ffffff;
    }
  }
}
.ppt4-button:active {
  background-color: #59595b;
  color: #ffffff;
}


.footer-part {
  width: 100%;
  height: auto;
  z-index: 99;
  position: relative;
}

// ------------------------- SIDEBAR ----------------------------
// ------------------------- SIDEBAR ----------------------------
// ------------------------- SIDEBAR ----------------------------
.sidebar-container {
  width: 96%;
  height: 20.185185185185187vw;
  position: absolute;
  left: 2%;
  bottom: 2%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-icon-wrapper-1,
.sidebar-icon-wrapper-2,
.sidebar-icon-wrapper-3,
.sidebar-icon-wrapper-4,
.sidebar-icon-wrapper-5 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  top: 120%;
}
.sidebar-marker-1,
.sidebar-marker-2,
.sidebar-marker-3,
.sidebar-marker-4,
.sidebar-marker-5 {
  width: 100%;
  height: 100%;
  z-index: 3;
  padding-bottom: 12%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: -101%;
  background-color: #d62631;
  overflow: hidden;
}

.sidebar-marker-1-icon {
  width: 10.092592592592593vw;
  height: auto;
  position: relative;
  left: 101%;
}
.sidebar-marker-2-icon {
  width: 18.14814814814815vw;
  height: auto;
  position: relative;
  bottom: 1%;
  left: 101%;
}
.sidebar-marker-3-icon {
  width: 9.444444444444445vw;
  height: auto;
  position: relative;
  left: 101%;
}
.sidebar-marker-4-icon {
  width: 14.629629629629628vw;
  height: auto;
  position: relative;
  bottom: 12%;
  position: relative;
  left: 101%;
}
.sidebar-marker-5-icon {
  width: 13.333333333333334vw;
  height: auto;
  position: relative;
  bottom: 1%;
  left: 101%;
}

.sidebar-1-icon {
  width: 10.092592592592593vw;
  height: auto;
  position: relative;
  bottom: 12%;
}
.sidebar-2-icon {
  width: 18.14814814814815vw;
  height: auto;
  position: relative;
  bottom: 12%;
}
.sidebar-3-icon {
  width: 9.444444444444445vw;
  height: auto;
  position: relative;
  bottom: 12%;
}
.sidebar-4-icon {
  width: 14.629629629629628vw;
  height: auto;
  position: relative;
  bottom: 22%;
  position: relative;
}
.sidebar-5-icon {
  width: 13.333333333333334vw;
  height: auto;
  position: relative;
  bottom: 12%;
}
.sidebar-color-1,
.sidebar-color-2,
.sidebar-color-3,
.sidebar-color-4,
.sidebar-color-5 {
  z-index: 2;
  position: absolute;
}
.sidebar-white-1,
.sidebar-white-2,
.sidebar-white-3,
.sidebar-white-4,
.sidebar-white-5 {
  z-index: 1;
}
.sidebar-color-icon {
  opacity: 0;
}

.trigger-1,
.trigger-2,
.trigger-3,
.trigger-4,
.trigger-5,
.trigger-6,
.trigger-8,
.trigger-9,
.trigger-10,
.trigger-11,
.trigger-12,
.trigger-13,
.trigger-14,
.trigger-15,
.trigger-16,
.trigger-17,
.trigger-18,
.trigger-19,
.trigger-20,
.trigger-21,
.trigger-22,
.trigger-23,
.trigger-24,
.trigger-25,
.trigger-26,
.trigger-27,
.trigger-28 {
  height: 100vh;
}

.trigger-1 {
  margin-top: 100vh;
}
.trigger-7 {
  height: 1px;
}

.trigger-9 {
  padding-top: 50vh;
}

@media screen and (orientation: portrait) {
  .hide-it-on-mobile {
    display: none;
  }
}

@media not screen and (orientation: portrait) {
  .hide-it-on-desktop {
    display: none;
  }
}
